/* ++++++++++++++++++++++++++ GERAL ++++++++++++++++++++++++++ */
*{
    border:0;
    margin:0;
    padding:0;
}

ul, ul li{ list-style-type:none; }
a{
    text-decoration:none;
    outline:none;
}

body{
    background:url("imgs/bg-body.gif") repeat 0px 0px;
}

@font-face {
 font-family: 'PreloLight';
 src: url('fontes/prelo-light-webfont.eot');
 src: url('fontes/prelo-light-webfont.eot?#iefix') format('embedded-opentype'), url('fontes/prelo-light-webfont.woff') format('woff'), url('fontes/prelo-light-webfont.ttf') format('truetype'), url('fontes/prelo-light-webfont.svg#PreloLight') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'PreloSlabBold';
 src: url('fontes/preloslab-bold-webfont.eot');
 src: url('fontes/preloslab-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fontes/preloslab-bold-webfont.woff') format('woff'), url('fontes/preloslab-bold-webfont.ttf') format('truetype'), url('fontes/preloslab-bold-webfont.svg#PreloSlabBold') format('svg');
 font-weight: normal;
 font-style: normal;
}

.wrapper{
    width:960px;
    margin:0 auto;
}

/* ++++++++++++++++++++++++++ TOPO ++++++++++++++++++++++++++ */
#header{
    float:left;
    width:100%;
    height:475px;
    background:url("imgs/bg-topo.jpg") repeat 0px 0px;
    padding:15px 0px 0px 0px;
}

#header #logo{
    float:left;
}

#header #controleAcessoTopo{
    float:right;
    width:295px;
}

#header #controleAcessoTopo #tituloLogin{
    float:left;
    width:285px;
    height:22px;
    padding:6px 0px 0px 10px;
    background:url("imgs/bg-barra-login.png") no-repeat 0px 0px;
    font-family:"Tahoma";
    color:#fff;
    font-size:11px;
}

#header #controleAcessoTopo form{
    float:left;
}

#header #controleAcessoTopo form ul{
    float:left;
    padding:1px 0px 0px 0px;
}

#header #controleAcessoTopo form ul li{
    float:left;
    width:295px;
}

#header #controleAcessoTopo form ul li input{
    float:left;
    width:139px;
    padding:7px 0px 7px 8px;
    font-family:"Tahoma";
    font-size:10px;
    color:#999;
    background:url("imgs/bg-input-login.png") no-repeat 0px 0px;
    display:inline-block;
    margin:0px 1px 0px 0px;
}

#header #controleAcessoTopo form ul li input.noMargin{ margin-right:0px; }

#header #controleAcessoTopo form ul li input#submitFormLogin{
    float:right;
    width:93px;
    height:29px;
    padding:0px;
    font-family:"Tahoma";
    font-size:11px;
    color:#454545;
    background:url("imgs/botao.png") no-repeat 0px 0px;
    cursor:pointer;
}

#header #controleAcessoTopo form ul li a{
    float:left;
    font-family:"Tahoma";
    font-size:10px;
    color:#999;
    text-decoration:underline;
    display:inline-block;
    margin:5px 0px 0px 4px;
}

#header #guardaMenu{
    float:left;
    width:100%;
    height:46px;
    background:url("imgs/borda-menu.png") no-repeat 0px 0px;
    display:inline-block;
    margin:12px 0px 0px 0px;
}

#header #guardaMenu ul{
    float:left;
    width:100%;
    padding:5px 0px 0px 0px;
}

#header #guardaMenu ul li{
    float:left;
    height:40px;
}

#header #guardaMenu ul li.noPadding a{ padding:7px 11px 20px 9px; }

#header #guardaMenu ul li a{
    float:left;
    text-align:center;
    font-family: 'PreloSlabBold';
    color:#332919;
    font-size:18px;
    padding:7px 22px 20px 21px;
}

#header #guardaMenu ul li a#home:hover,
#header #guardaMenu ul li a#home.marcado{ background:url("imgs/bg-menu-menor.png") no-repeat 0px 0px; }

#header #guardaMenu ul li a#para-o-seu-negocio{ padding:7px 20px 20px 22px; }
#header #guardaMenu ul li a#para-o-seu-negocio:hover,
#header #guardaMenu ul li a#para-o-seu-negocio.marcado{ background:url("imgs/bg-menu-empresa.png") no-repeat 0px 0px; }

#header #guardaMenu ul li a#para-sua-familia:hover,
#header #guardaMenu ul li a#para-sua-familia.marcado{ background:url("imgs/bg-menu-maior.png") no-repeat 0px 0px; }

#header #guardaMenu ul li a#o-que-o-anjo-faz:hover,
#header #guardaMenu ul li a#o-que-o-anjo-faz.marcado{ background:url("imgs/bg-menu-maior.png") no-repeat 0px 0px; }

#header #guardaMenu ul li a#como-instalar:hover,
#header #guardaMenu ul li a#como-instalar.marcado{ background:url("imgs/bg-menu-instalar.png") no-repeat 0px 0px; }

#header #guardaMenu ul li a#planos{ padding:7px 24px 20px 18px; }
#header #guardaMenu ul li a#planos:hover,
#header #guardaMenu ul li a#planos.marcado{ background:url("imgs/bg-menu-planos.png") no-repeat 0px 0px; }

#header #guardaMenu ul li a:hover,
#header #guardaMenu ul li a.marcado{ color:#fff; }

#header #guardaSliderHome{
    float:left;
    width:100%;
    height:464px;
    background:url("imgs/shadow-slider.png") no-repeat center 0px;
    display:inline-block;
    margin:17px 0px 0px 0px;
}

#header #guardaSliderHome #sliderHome{
    width:940px;
    height:392px;
    margin:0 auto;
    position:relative;
}

#header #guardaSliderHome #sliderHome img{
    position:absolute;
    top:0px;
    left:0px;
}

#header #guardaSliderHome #sliderHome #paginacao{
    position:absolute;
    top:17px;
    right:13px;
}

#header #guardaSliderHome #sliderHome #paginacao ul li{
    float:left;
    width:13px;
    height:13px;
    padding:0px 7px 0px 0px;
}

#header #guardaSliderHome #sliderHome #paginacao ul li a{
    float:left;
    width:13px;
    height:13px;
    background:url("imgs/bullet-slider.png") no-repeat 0px 0px;
}

#header #guardaSliderHome #sliderHome #paginacao ul li a:hover,
#header #guardaSliderHome #sliderHome #paginacao ul li a.marcado{
    background-position:-20px 0px;
}

/* ++++++++++++++++++++++++++ CONTEUDO ++++++++++++++++++++++++++ */
#content{
    float:left;
    width:100%;
}

#content.home{
    padding:110px 0px 65px 0px;
}

#content .trioHome{
    float:left;
    width:300px;
    padding:0px 30px 0px 0px;
}

#content .depoimentos h3,
#content .trioHome h3{
    float:left;
    width:100%;
    color:#fff;
    line-height:120%;
    padding:0px 0px 5px 0px;
}

#content .depoimentos h3 span,
#content .trioHome h3 span{
    float:left;
    width:100%;
    font-family: 'PreloLight';
    font-size:20px;
}

#content .depoimentos h3 strong,
#content .trioHome h3 strong{
    float:left;
    width:100%;
    font-family: 'PreloSlabBold';
    font-size:29px;
    text-transform:uppercase;
}

#content .depoimentos p,
#content .depoimentos strong,
#content .depoimentos span,
#content .depoimentos sub,
#content .trioHome p{
    font-family: 'PreloLight';
    font-size:15px;
    color:#fff;
}

#content .botao,
#content .depoimentos .botao,
#content .trioHome .botao{
    float:left;
    width:93px;
    font-family:'Tahoma';
    font-size:11px;
    color:#454545;
    background:url("imgs/botao.png") no-repeat 0px 0px;
    text-align:center;
    padding:8px 0px 6px 0px;
    text-decoration:none;
}

#content .depoimentos{
    float:left;
    width:300px;
}

#content .depoimentos #fotoTextoDepoimento img{
    float:left;
    padding:0px 5px 0px 0px;
}

#content .depoimentos #fotoTextoDepoimento p{
    font-family: 'PreloLight';
    font-size:17px;
}

#content .depoimentos #fotoTextoDepoimento p strong{
    display:inline-block;
    font-size:27px;
    font-family:"Times New Roman";
}

#content .depoimentos #fotoTextoDepoimento sub{
    font-size:27px;
    font-family:"Times New Roman";
    font-weight:bold;
}

#content .depoimentos #assinaturaDepoimento{
    float:left;
    width:100%;
}

#content .depoimentos #assinaturaDepoimento strong{
    float:left;
    width:100%;
    font-family: 'PreloSlabBold';
    font-size:16px;
}

#content .depoimentos #assinaturaDepoimento span{
    float:left;
    width:100%;
    font-family: 'PreloLight';
    font-size:13px;
}

/* ++++++++++++++++++++++++++ RODAPE ++++++++++++++++++++++++++ */
#footer{
    float:left;
    width:100%;
    height:132px;
    background:url("imgs/bg-rodape.png") no-repeat center 0px;
    position:relative;
}

#footer p a,
#footer p{
    color:#fff;
    font-family:"Tahoma";
    font-size:12px;
}
#footer p{
    color:#fff;
    padding:15px 0px 0px 0px;
}


#footer p.esquerda{
    float:left;
    padding:55px 0px 0px 30px;
}

#footer p.direita{
    float:right;
    padding:50px 30px 0px 0px;
}

#footer p.direita span.linksDireita{
    float:left;
    padding:5px 20px 0px 0px;
}

#footer p.centro{
    float:left;
    width:100%;
    text-align:center;
    font-size:10px;
}

#footer p .redesSociaisRodape{
    float:left;
}

#footer p .redesSociaisRodape a{
    float:left;
    display:inline-block;
    margin:0px -1px;
}

/* ****************************************************
    O QUE O ANJO FAZ
**************************************************** */
.internas{
    background:url("imgs/bg-topo.jpg") repeat 0px 0px;
}

.internas{
    float:left;
    position:relative;
    top:-320px;
    display:inline-block;
    margin-bottom:-400px;
}

.internas #ladoEsquerdo{
    float:left;
    width:715px;
    padding:0px 0px 100px 0px;
}

.internas #ladoEsquerdo #topoEsquerda{
    float:left;
    width:100%;
}

.internas #ladoEsquerdo #topoEsquerda h1{
    float:left;
    background:url("imgs/bg-body.gif") repeat 0px 0px;
    font-family: 'PreloSlabBold';
    font-size:45px;
    color:#fff;
    text-transform:uppercase;
    padding:5px 18px;
}

.internas #ladoEsquerdo #topoEsquerda h2{
    float:left;
    width:100%;
    font-family: 'PreloLight';
    font-size:29px;
    color:#424242;
    font-style:italic;
    padding:25px 0px 0px 0px;
}

.internas #ladoEsquerdo #topoEsquerda h3{
    float:left;
    width:100%;
    font-family: 'PreloLight';
    font-size:29px;
    color:#424242;
    font-style:italic;
    padding:25px 0px 0px 0px;
}

.internas #ladoEsquerdo #topoEsquerda h3 span{
    float:left;
    width:100%;
    font-size:20px;
    font-style:normal;
}

.internas #ladoEsquerdo #topoEsquerda .subtituloMenor{font-size:24px;}

.internas #ladoEsquerdo #topoEsquerda p{
    float:left;
    width:100%;
    font-family: 'PreloLight';
    font-size:19px;
    color:#424242;
    padding:45px 0px 45px 0px;
}

.comoinstalar #ladoEsquerdo #topoEsquerda p{ padding-bottom:5px; }

.internas #ladoEsquerdo #topoEsquerda strong{
    float:left;
    width:100%;
    font-family: 'PreloSlabBold';
    font-size:19px;
    color:#424242;
    padding:0px 0px 0px 0px;
}

.internas #ladoEsquerdo #topoEsquerda b{
    font-family: 'PreloSlabBold';
}

.internas #ladoEsquerdo #topoEsquerda a{
    text-decoration:underline;
    color:#424242;
}

.internas #ladoEsquerdo #contentEsquerda{
    float:left;
    width:100%;
}

.internas #ladoEsquerdo #contentEsquerda ul{
    float:left;
    width:100%;
    padding:30px 0px 56px 0px;
}

.internas #ladoEsquerdo #contentEsquerda ul li{
    float:left;
    border-bottom:1px solid #b8b8b8;
    padding:20px 11px 15px 20px;
}

.internas #ladoEsquerdo #contentEsquerda ul li img{
    float:left;
}

.internas #ladoEsquerdo #contentEsquerda ul li p{
    float:left;
    width:615px;
    padding:0px 0px 0px 30px;
    font-family: 'PreloLight';
    font-size:20px;
}

.internas #ladoDireito{
    float:right;
    width:218px;
    padding:50px 0px 100px 0px;
}

.internas #ladoDireito #depoimentosDireita{
    float:left;
    padding:26px 0px 0px 0px;
}

.internas #ladoDireito #depoimentosDireita #fotoTextoDepoimento img{
    float:left;
    padding:0px 5px 0px 0px;
}

.internas #ladoDireito #depoimentosDireita #fotoTextoDepoimento p{
    font-family: 'PreloLight';
    font-size:17px;
}

.internas #ladoDireito #depoimentosDireita #fotoTextoDepoimento p strong{
    display:inline-block;
    font-size:27px;
    font-family:"Times New Roman";
}

.internas #ladoDireito #depoimentosDireita #fotoTextoDepoimento sub{
    font-size:27px;
    font-family:"Times New Roman";
    font-weight:bold;
}

.internas #ladoDireito #depoimentosDireita #assinaturaDepoimento{
    float:left;
    width:100%;
}

.internas #ladoDireito #depoimentosDireita #assinaturaDepoimento strong{
    float:left;
    width:100%;
    font-family: 'PreloSlabBold';
    font-size:16px;
}

.internas #ladoDireito #depoimentosDireita #assinaturaDepoimento span{
    float:left;
    width:100%;
    font-family: 'PreloLight';
    font-size:13px;
}

/* CONTATO */
#guardaFormContato{
    float:left;
    width:100%;
    padding:10px 0px 0px 0px;
}

#guardaFormContato ul,
#guardaFormContato ul li{
    float:left;
    width:100%;
}

#guardaFormContato ul li{ padding:5px 0px 5px 0px; }

#guardaFormContato label{
    float:left;
    font-family: 'PreloLight';
    font-size:19px;
}

#guardaFormContato label span{
    float:left;
    width:150px;
    text-align:right;
    font-family: 'PreloLight';
    font-size:19px;
    padding:5px 10px 0px 0px;
}

#guardaFormContato label .input{
    float:left;
    font-family: 'PreloLight';
    font-size:17px;
    padding:5px 3px;
    border:1px solid #ccc;
}

#guardaFormContato label input{ width:350px; }
#guardaFormContato label textarea{
    width:350px;
    height:140px;
    overflow:auto;
}

#guardaFormContato #btEnviarFormContato{
    float:left;
    background:url("imgs/bg-body.gif") repeat 0px 0px;
    font-family: 'PreloLight';
    font-size:17px;
    color:#fff;
    font-weight:bold;
    padding:3px 7px;
    display:inline-block;
    margin:0px 0px 0px 450px;
}

.internas #ladoEsquerdo #topoEsquerda .planos{
    float:left;
    width:310px;
    padding:30px 40px 0px 0px;
}

.internas #ladoEsquerdo #topoEsquerda .planos p{
    padding:10px 0px 10px 0px;
}

.internas #ladoEsquerdo #topoEsquerda .planos a{
    text-decoration:none;
}

.internas #ladoEsquerdo #topoEsquerda .segundo{ padding-right:0px; }

/* VAGAS */
#content.vagas #ladoEsquerdo #topoEsquerda a.botao{
    text-decoration:none;
}

.vagas #guardaVagas{
    float:left;
    width:700px;
    display:none;
    padding:20px 0px 0px 0px;
}

.vagas #guardaVagas ul{
    float:left;
    width:700px;
}

.vagas #guardaVagas ul li{
    float:left;
    width:680px;
    padding:15px 10px 15px 10px;
    border-bottom:1px solid #ccc;
}

.vagas #guardaVagas span{
    float:left;
    width:100%;
    padding:3px 0px;
}